So it's not possible to get the method ID during a token transfer and while I can get it from the standard tx list, the token transfers are not part of that list.

The easiest way is probable just to take the transfers from the Sickle contract to my wallet and check to make sure no value is above a certain amount, like $5k or something, which will be an exit and not rebalance dust or harvesting.  

To do this right, I would need to get the tx hashes and then look them up and figure out what the method is for each of them.
- This turns out to fail a lot.  It could be the web3 function I'm using.  Not sure it's useful to debug.

In [1]:
import transaction_class as tc
import private

# Method IDs
rebalance_for = '0xe6fb317f'
harvest = '0x5ec5999e'
wallet = private.wal_lp
sender = private.sickle_lp
# start_block = 25707613  # Use the block after the last deposit
start_block = 25915461  # Start fresh on Feb 03 5pm
# start_block = 25815461  # Start fresh on Feb 03 5pm

In [2]:
wal = tc.Transactions(wallet)
wal.get_transactions(start_block)
wal.filter_tx_list_by_sender(sender)
wal.create_dataframe()
df = wal.df

Block 25815461 already exists in csv file.
Starting instead at block 25915461
Received transactions for USDC
Received transactions for WETH
Received transactions for cbBTC
Received transactions for AERO
Received 31 transactions for sender: 0x58C8bc977f1C53d5Dc085aE26732fdaFe675646d
Getting historical in_data for aerodrome-finance
Try #1
Getting historical in_data for ethereum
Try #1
Getting historical in_data for usd-coin
Try #1
Getting historical in_data for bitcoin
Try #1
First Block Stored: 25930165
Last Block Stored: 26034195

In [4]:
wal.merge_dataframes()

Merging Dataframes
Historical Block range: 25707612 to 25915460
Current Block range: 25930165 to 26034195
Merged Block range: 25707612 to 26034195

In [5]:
df.pivot_table(index='tokenSymbol', values=['amount', 'valueUsd'], aggfunc='sum')

                  amount     valueUsd
tokenSymbol
AERO         9661.703324  8934.642151
USDC         9857.910955  9857.976149
WETH            0.659212  1826.889763
cbBTC           0.001267   122.142919

In [6]:
df2 = wal.df.copy()

In [7]:
df2.pivot_table(index='tokenSymbol', values=['amount', 'valueUsd'], aggfunc='sum')

                   amount      valueUsd
tokenSymbol
AERO         21702.800706  19619.624762
USDC         37642.080866  37641.744235
WETH             2.845827   7867.761981
cbBTC            0.196852  20023.023239

In [8]:
wal.mark_transactions_recorded()

In [9]:
df2 = wal.df.copy()

In [3]:
df.to_csv('vfat_lp_dust_transactions.csv')

In [ ]:
wal2 = tc.Transactions(wallet)
wal2.get_transactions(start_block)
wal2.filter_tx_list_by_sender(sender)

In [ ]:
wal2.create_dataframe()

In [5]:
new = wal2.df